.DS_Store
/gitea/install-screenshots
/gitea/postgres
/gitea/github
/mailu/data/filter
/webui/node_modules
/gitea/webui/node_modules
webui/src/pages/AI.tsx.backup
webui/src/pages/Hardware.tsx.backup
webui/src/pages/Hardware.tsx.backup
webui/src/pages/Hardware.tsx.backup
webui/src/pages/Software.tsx.backup
webui/src/pages/Hardware.tsx.backup
bolt-diy/.env.local
webui/src/pages/Hardware.tsx.backup
