version: '3.8'

services:
  gitea:
    image: gitea/gitea:1.22.6
    container_name: autheo-devhub-gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
    restart: always
    networks:
      - gitea
    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "8082:3000"
      - "222:22"

  webui:
    build:
      context: ./webui
      dockerfile: Dockerfile
    container_name: autheo-devhub-gitea-webui
    restart: always
    networks:
      - gitea
    ports:
      - "8084:8084"
    depends_on:
      - gitea

networks:
  gitea:
    name: gitea_network